# 🔧 Configuração do Ambiente - Exemplo

# ============================================
# 🌐 URL DA API (OBRIGATÓRIO)   para rodar ngrok http 8080
# ============================================
VITE_API_URL=http://localhost:5000/api
VITE_API_URL= https://1cdb3fe2585d.ngrok-free.app

# ===========================================
# 🔑 (Para rodar ngrok http 8080 usar o local que roda no npm run dev)